#booklist {
    padding: 10px;
    margin: 2px;

}   
.book-item {
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
}
body {
    background-color: #b49797;
    padding: 20px;
}